.showcase{
    margin-top: 0px !important;
    padding-left: 300px;
    height: 100vh;
};

@media only screen and (max-width : 992px) {
    .showcase {
        left: 0px;
    };
};

/*FOOTER SECTION*/
/*##### Global Classes #####*/
* {margin: 0;padding: 0;}
body { font-family: arial; font-size: 16px;}

.clearfix {clear: both;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.clr1 {background: #FFFFFF; color: #333743;}
.clr2 {background: #F1F3F5; color: #8F94A3;}
.clr3 {background: #0a1612; color: #fff;}
.clr4 {background: #1a2930; color: #fff;}
.clr5 {background: ; color: #F1F3F5;}
.clr6 {background: ; color: #39B5A1;}
.clr7 {background: ; color: #D45245;}

footer a { color: #fff; transition: all .4s; }
footer a:hover {color: #c1c5c0;}
a:visited{}

/*##### Footer Structure #####*/
.bo-wrap {clear:both; width: auto;}
.bo-footer {
  clear:both;
  width: auto;
  padding: 5px;
  width: 960px;
	margin: 0 auto;
}

footer {
	position: relative;
	z-index: 9999;
}

.bo-footer-social {text-align: center; line-height: 1px;}

.bo-footer-smap {
	width: 300px;
	float: left;
	padding: 5px 10px;
  text-align: left;
  font-size: 18px;
}

.bo-footer-uonline {
	width: 300px; /* Account for margins + border values */
	float: left;
	padding: 5px 10px;
  text-align: center;
}

.bo-footer-power {
	width: 300px;
	padding: 5px 10px;
	float: left;
  text-align: right;
  font-size: 14px;
  color: #c5c1c0;
  vertical-align: middle;
}

footer .print-page { cursor: pointer; }

.bo-footer-power > a { color: #fff; }

.print-page i {
    top: 7px;
    position: relative;
}

.bo-footer-copyright {text-align: center; color: #fff}

/*##### Footer Responsive #####*/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	.bo-footer {
		width: 95%;
		padding: 1% 2%;
	}
	.bo-footer-smap {
		width: 46%;
		padding: 1% 2%;
	}
	.bo-footer-uonline {
		width: 46%;
		padding: 1% 2%;
		float: right;
    text-align: right;
	}
	
	.bo-footer-power {
		clear: both;
		padding: 1% 2%;
		width: auto;
		float: none;
    text-align: center;
	}
}
/* for 700px or less */
@media screen and (max-width: 600px) {

	.bo-footer-smap {
		width: auto; 
		float: none;
    text-align: center;
	}
	
	.bo-footer-uonline {
		width: auto;
		float: none;
    text-align: center;
	}
	
	.bo-footer-power {
		width: auto;
		float: none;
    text-align: center;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {
  
}